In [1]:
#Comments & Basic Data Types

print("Hello") # this is also a comment

Hello

In [2]:
#the following are all intergers
print(2)
print(10)

2
10

In [3]:
#the following are all floats
print(10.953)
print(8.0) #even this number is a float

10.953
8.0

In [4]:
#the following are booleans
print(True)
print(False)

True
False

In [5]:
#the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [10]:
#Output: Print out your name
print("Hai Duy Hoang")
type(int)

Hai Duy Hoang

type

In [11]:
num1 = 5 #storing an integer a variable
num2 = 8.4 #storing a float into a variable
print(num1, num2) #you can print multiple items using commas

5 8.4

In [12]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [13]:
#storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number) #will print 9 next to the name

John Smith 9

In [14]:
#using 2 variables to create another variable
result = num1 + num2
print(result)

13.4

In [15]:
#adding, deleting, mutiplying, dividing from a variable
result += 1 #same as saying result = result + 1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [16]:
#defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [17]:
#using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [19]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [20]:
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} year old!".format(name, 28))

Hello John
Hello John, you are 28 year old!

In [22]:
word = "Hello"
print( word[0]) #will output 'H'
print( word[1]) #will output 'e'
print( word[2]) #will output 'l'
print( word[-1])
print( word[-2])

H
e
l
o
l

In [24]:
print( word[0 : 2])
print( word[0:5:1])

He
Hello

In [26]:
#using the title method to capitalze a string
name = "john smith"
print(name.title())

schoolname = "greenwich university"
print(schoolname.title())

John Smith
Greenwich University

In [27]:
#replacing an exclamation point with a period
words = "Hello there!"
print( word.replace("!", "."))

greeting = "How are you."
print( greeting.replace(".", "?"))

Hello
How are you?

In [28]:
#finding the staring index
s = "Look over that way"
print( s.find("over"))

5

In [30]:
#removing space
name = "john "
print( name.strip())

john

In [31]:
s = "These words are separated by spaces"
print( s.split(" "))

uni = "Greenwich.University"
print(uni.split("."))

['These', 'words', 'are', 'separated', 'by', 'spaces']
['Greenwich', 'University']