In [1]:
nums = [5, 10, 15.2, 20]
print(nums)

[5, 10, 15.2, 20]

In [2]:
print( nums[1])

num = nums[2]
print(num)

10
15.2

In [3]:
num = 4.3
myname = "Hai Duy Hoang"
data = [num, myname, True]
print(data)

[4.3, 'Hai Duy Hoang', True]

In [6]:
data = [5, "book", [34, "hello"], True]
print(data)

print(data[2])

print(data[2][1])

[5, 'book', [34, 'hello'], True]
[34, 'hello']
hello

In [7]:
inner_list = data[2]
print( inner_list[1])

hello

In [8]:
data = [5, 10, 15,20]
print(data)
data[0] = 100
print(data)

[5, 10, 15, 20]
[100, 10, 15, 20]

In [10]:
a = [5, 10]
b = a

print("a: {}\tb: {}".format(a, b))

a[0] = 20
print("a: {}\t b: {}".format(a, b))

a: [5, 10]	b: [5, 10]
a: [20, 10]	 b: [20, 10]

In [12]:
data = [5, 10, 15, 20]
data_copy = data[:]
data[0] = 80
print("data:{}\t data_copy: {}".format(data, data_copy))

data:[80, 10, 15, 20]	 data_copy: [5, 10, 15, 20]

In [17]:
for num in range(5):
    print('Value: {}'.format(num))

Value: 0
Value: 1
Value: 2
Value: 3
Value: 4

In [18]:
for num in range(5,10):
    print('Value: {}'.format(num))

Value: 5
Value: 6
Value: 7
Value: 8
Value: 9

In [19]:
for num in range(0,10, 2):
    print('Value: {}'.format(num))

Value: 0
Value: 2
Value: 4
Value: 6
Value: 8

In [20]:
name = "University of Greenwich"
for letter in name:
    print("Value: {}".format(letter))

Value: U
Value: n
Value: i
Value: v
Value: e
Value: r
Value: s
Value: i
Value: t
Value: y
Value:
Value: o
Value: f
Value:
Value: G
Value: r
Value: e
Value: e
Value: n
Value: w
Value: i
Value: c
Value: h

In [21]:
for num in range(5):
    if num == 3:
        continue
    print(num)
for num in range(5):
    if num == 3:
        break
    print(num)

0
1
2
4
0
1
2

In [24]:
health = 10

while health > 0:
    print(health)
    health -= 1

10
9
8
7
6
5
4
3
2
1

In [25]:
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [31]:
nums = [5, 10, 15, 20, 25]
length = len(nums)
print(length)

5

In [33]:
print( nums[1 : 5])
print( nums[: 4])
print( nums[: : 2])
print( nums[-2: ])

[10, 15, 20, 25]
[5, 10, 15, 20]
[5, 15, 25]
[20, 25]

In [34]:
nums = [10, 20]
nums.append(5)
print(nums)
nums.append(18)
print(nums)

[10, 20, 5]
[10, 20, 5, 18]

In [35]:
words = ["ball", "base"]
words.insert(0,"glove")
print(words)

['glove', 'ball', 'base']

In [36]:
items = ["ring", "ball", "book", "computer"]
print("Before remove: {} \n".format(items))
items.pop(2)
print("After remove: {} \n".format(items))

Before remove: ['ring', 'ball', 'book', 'computer']

After remove: ['ring', 'ball', 'computer']

In [38]:
sports = ["baseball", "soccer", "football", "hockey"]
print("Before remove: {} \n".format(sports))
sports.remove("soccer")
print("After remove: {} \n".format(sports))

Before remove: ['baseball', 'soccer', 'football', 'hockey']

After remove: ['baseball', 'football', 'hockey']

In [39]:
nums = [5, 3, 9]
print( min(nums))
print( max(nums))
print( sum(nums))

3
9
17

In [40]:
nums = [5, 8, 0, 2]
sorted_nums = sorted(nums)
print("After sorting: {}".format(sorted_nums))

After sorting: [0, 2, 5, 8]

In [41]:
names = ["Jack", "Robert", "Mary"]
if "Mary" in names:
    print("found")
    
if "Jimmy" not in names:
    print("not found")

found
not found

In [42]:
nums = []
if not nums:
    print("It is empty.")

It is empty.

In [43]:
sports = ["Baseball", "Hockey", "Football", "Basketball"]
for names in sports:
    print(names)

Baseball
Hockey
Football
Basketball

In [44]:
names = ["Bob", "Jack", "Rob", "Bob", "Robert"]
while "Bob" in names:
    names.remove("Bob")
    
print(names)

['Jack', 'Rob', 'Robert']